body {
    color: var(--text);
    background-color: var(--bg-body);
}

input, textarea, select {
    box-shadow: var(--shadow-light);
    background: var(--bg-container);
    padding: var(--padding-0) var(--padding-1);

    @supports(corner-shape: squircle){
        border-radius: 2rem;
        corner-shape: squircle;
    }
}


.img-wrapper img {
    border-radius: 2rem;

    @supports(corner-shape: squircle){
        border-radius: 2rem;
        corner-shape: squircle;
    }
}

/************* Header Section *************/
header {
    box-shadow: var(--shadow-light);
    background-color: var(--bg-container);
}

.nav-link:hover, .social-link:hover {
    color: var(--clr-primary);
}

@media (width < 768px){
    nav {
        border-radius: 1rem;
        color: var(--text-alt);
        box-shadow: var(--shadow-light);
        background-color: var(--bg-body-alt);
        
        @supports(corner-shape: squircle){
            border-radius: 2rem;
            corner-shape: square square square squircle;
        }

        i {
            color: var(--text-alt);
        }
    }

    header button {
        color: var(--text);
    }
}
/************* Header Section *************/

/************* Hero Section *************/
.hero-section, .hero-alt-section {
    color: var(--text-alt);
    background-color: var(--bg-body-alt);

    h2 {
        font-size: var(--fs-500);
    }

    p {
        color: var(--text-muted-alt);
    }

}
.swiper {
    .swiper-button-prev,
    .swiper-button-next {
        * {
            color: var(--clr-black);
        }
    }

    img {
        border-radius: 1rem;
        box-shadow: var(--shadow-light);
        
        @supports(corner-shape: squircle){
            border-radius: 2rem;
            corner-shape: squircle;
        }
    }
}

@media (width < 768px){
    .hero-section h2 {
        font-size: var(--fs-400);
    }
}
/************* Hero Section *************/

/************* Stats Section *************/
.stat-list li {
    border-radius: 1rem;
    box-shadow: var(--shadow-light);
    background-color: var(--bg-container);

    @supports(corner-shape: squircle){
        border-radius: 2rem;
        corner-shape: squircle;
    }
}
/************* Stats Section *************/

/************* Problem Section *************/
/************* Problem Section *************/

/************* How Section *************/
/************* How Section *************/

/************* Feature Section *************/
.feature-list li {
    box-shadow: var(--shadow-light);
    background-color: var(--bg-container);

    @supports(corner-shape: squircle){
        border-radius: 2rem;
        corner-shape: squircle;
    }
}
/************* Feature Section *************/

/************* CTA Section *************/
.cta-section .wrapper {
    color: var(--text-alt);
    box-shadow: var(--shadow-light);
    background-color: var(--bg-body-alt);

    @supports(corner-shape: squircle){
        border-radius: 2rem;
        corner-shape: squircle;
    }

    p {
        color: var(--text-muted-alt)
    }
}
/************* CTA Section *************/

/************* About pages Section *************/
.team-section {
    img {
        border-radius: 1rem;
        box-shadow: var(--shadow-medium);

        @supports(corner-shape: squircle){
            border-radius: 2rem;
            corner-shape: squircle;
        }
    }
}
/************* About pages Section *************/

/************* Pricing Section *************/
.price {
    box-shadow: var(--shadow-light);
    background-color: var(--bg-container);

    @supports(corner-shape: squircle){
        border-radius: 2rem;
        corner-shape: squircle;
    }
}
/************* Pricing Section *************/


/************* Gallery Section *************/
.gallery-section :where(img, video) {
    border-radius: 1rem;

    @supports(corner-shape: squircle){
        border-radius: 2rem;
        corner-shape: squircle;
    }
}

.gallery-tabs .tab-btn {
    border-radius: 2rem;

    &.active {
        color: var(--clr-white);
        background: var(--clr-black);
    }
}
/************* Gallery Section *************/

/************* Ressources Section *************/
.ressources-section {
    a {
        color: blue;
    }
}
/************* Ressources Section *************/

/************* Footer Section *************/
footer {
    color: var(--text-alt);
    background-color: var(--bg-body-alt);

    p, span {
        color: var(--text-muted-alt);
    }
}
/************* Footer Section *************/