*, *::before, *::after {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: "Open Sans", inter, sans-serif;
}

body {
    min-height: 100dvh;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    text-wrap: balance;
}

p, span {
    line-height: 1.6;
    text-wrap: pretty;
    color: var(--text-muted);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

input, textarea, select {
    border: none;
    outline: none;
    color: inherit;
    background: none;
}

img, video, picture, svg {
    height: auto;
    display: block;
    max-width: 100%;
}