/****************************************** STRUCTURE**************************/
.flow > * + * {
    margin-top: var(--gap-2);
}

.flow-xs > * + * {
    margin-top: var(--gap-0);
}

.flow-sm > * + * {
    margin-top: var(--gap-1);
}

.flow-md > * + * {
    margin-top: var(--gap-3);
}

.flow-lg > * + * {
    margin-top: var(--gap-4);
}

.flow-xl > * + * {
    margin-top: var(--gap-6);
}


.wrapper {
    margin-inline: auto;
    padding-inline: var(--padding-2);
    width: min(100% - var(--padding-3), 1080px);
}
/*********************** STRUCTURE**************************/


/*********************** TYPOGRAPHY**************************/
.text {
    font-size: var(--fs-300);
}

.text-xs {
    font-size: var(--fs-100);
}

.text-xm {
    font-size: calc((var(--fs-100) + var(--fs-200)) / 2);
}

.text-sm {
    font-size: var(--fs-200);
}

.text-xd {
    font-size: calc((var(--fs-200) + var(--fs-300)) / 2);
}

.text-md {
    font-size: var(--fs-400);
}

.text-lg {
    font-size: var(--fs-500);
}

.text-xl {
    font-size: var(--fs-600);
}

.text-2xl {
    font-size: var(--fs-700);
}

.text-3xl {
    font-size: var(--fs-800);
}

.text-lead {
    color: var(--text);
}

.text-muted {
    color: var(--text-muted);
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: 600;
}

.text-bolder {
    font-weight: 600;
}
/*********************** TYPOGRAPHY**************************/

/*********************** BUTTONS**************************/
.btn, .btn-sm, .btn-lg {
    text-align: center;
    border-radius: .5rem;
    display: inline-block;

    @supports(corner-shape: squircle){
        border-radius: 2rem;
        corner-shape: squircle;
    }
}

.btn {
    padding: var(--padding-1) var(--padding-2);
    font-size: calc((var(--fs-100) + var(--fs-200)) / 2);
}

.btn-sm {
    font-size: var(--fs-100);
    padding: var(--padding-0) var(--padding-1);
}

.btn-lg {
    font-size: var(--fs-200);
    padding: var(--padding-2) var(--padding-3);
}

.btn-primary {
    color: var(--clr-black);
    background-color: var(--clr-primary);
    transition: background-color 0.3s, color 0.3s;

    * {
        color: var(--clr-black);
    }
}    

.btn-secondary {
    outline: 1px solid var(--text);
    transition: background-color 0.3s, color 0.3s;

    * {
        color: var(--clr-primary);
    }
}

.btn-secondary-alt {
    outline: 1px solid var(--text-alt);
    transition: background-color 0.3s, color 0.3s;

    * {
        color: var(--clr-primary);
    }
}

.btn-primary:hover, .btn-secondary:hover, .btn-secondary-alt:hover {
    outline: none;
    color: var(--clr-black);
    background-color: var(--clr-accent);

    * {
        color: var(--clr-black);
    }
}

.link {
    color: var(--clr-primary);
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: color 0.3s;
}

.link:hover {
    text-decoration: none;
    color: var(--clr-accent);
}

.accent {
    color: var(--clr-primary);
}
/*********************** BUTTONS**************************/